<div style="background-color: #81acf0;" class="about">
    <h1 style="margin-left: 10px;">About Us</h1>
    <br>
    <div style="font-family:sans-serif;margin-left: 10px;">
        <p>Did you ever imagine that the freshest of fruits and vegetables, top quality pulses and food grains, dairy
            products and hundreds of branded items
            could be handpicked and delivered to your home, all at the click of a button? India’s first comprehensive
            online megastore, grocistore.com, brings
            a no.of products to make customers happy. From household cleaning products to beauty and makeup, GrociStore
            has everything you need for your daily needs.
            grocistore.com is convenience personified We’ve taken away all the stress associated with shopping for daily
            essentials,
            and you can now order all your household products and even buy groceries online without travelling long
            distances or standing in serpentine queues.
            Add to this the convenience of finding all your requirements at one single source, along with great savings,
            Need things fresh? Whether it’s fruits and vegetables or dairy and meat, we have this covered as well! Get
            fresh eggs, meat, fish and more online at your convenience.
            Hassle-free Home Delivery options.
        <p>

        <p>We deliver to all cities across India and maintain excellent delivery times, ensuring that all your products
            from groceries to snacks branded foods reach you in time.
            We are proud to be associated closely with the farmers from whom we source our fresh products. Most of our
            farm-fresh products are sourced directly from farmers,
            which not only ensures the best prices and freshest products for our customers but also helps the farmers
            get better prices. With more than 80 Organic Fruits and Vegetables
            and a wide range of organic staples, grocistore has the largest range in the organic products category.</p>

        <p>grocistore.com believes in providing the highest level of customer service and is continuously innovating to
            meet customer expectations.</p>
    </div>
</div>