<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div *ngIf="flagHome">
    <div id="bg">
        <h1>Grocery</h1>

        <div id="reg" *ngIf="signinflag">
            <a routerLink='register' (click)="clickRegister()">Register </a>/<a href="#"> Sign-In</a>
        </div>
        <div id="reg" *ngIf="usernameflag">
            Welcome:{{username}}
        </div>
        <p><button (click)="mycart(username)">My Cart</button></p>

        <br>

        <div id="search" class="input-group mb-3">
            <input type="text" class="form-control" placeholder="search product" aria-label="search product"
                aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
        </div>

        <div class="container">
            <a class="navbar-brand" href="#">
                <img style="position: absolute;margin-top: -163px;margin-left: -20px;width: 11%;height: 11%;"
                    src="assets/images/logo_1.png" alt="logo" width="46" height="40">
            </a>
        </div>

        <nav class="navbar" style="background-color: #32d600; justify-content: center;">
            <ul class="nav  justify-content-center">
                <li class="nav-item">
                    <a id="align" style="font-size: 20px;" class="nav-link " ariaCurrentWhenActive="page"
                        href="http://localhost:4200/">Home</a>
                </li>
                <li class="nav-item">
                    <a id="align" style="font-size: 20px;" class="nav-link" routerLink='aboutus'>About Us</a>
                </li>
                <li class="nav-item">
                    <a id="align" style="font-size: 20px;" class="nav-link" href="#">Catgory</a>
                </li>
                <li class="nav-item">
                    <a style="font-size: 20px;" class="nav-link" href="#">Featured Product</a>
                </li>
            </ul>
        </nav>
    </div>
    <div style="height: 100vh;">

        <div *ngFor="let p of products" class="c">
            <form #f="ngForm">
                <img src="{{p.image}}" alt="{{p.productName}} image"><br>
                <h3>{{p.productName}}</h3><br>
                {{p.description}}<br>
                Cost:₹{{p.cost}}<br><br>
                <button class="btn btn-primary" (click)="addToCart(username,p.productId)">AddToCart</button>

            </form>
        </div>

    </div>


    <!--  -->


    <footer class="bg-dark text-center text-white" style="margin-top: 500px;">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                    <i class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-twitter"></i></a>

                <!-- Google -->
                <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-google"></i></a>

                <!-- Instagram -->
                <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-instagram"></i></a>

                <!-- Linkedin -->
                <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-linkedin-in"></i></a>

                <!-- Github -->
                <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">GrociStore.com</a>
        </div>
        <!-- Copyright -->
    </footer>
</div>